{% extends "core/base.html" %}

{% block container %}

    <div class="row-fluid container-narrow">

        <div class="span12">
            <span class="list-view-header">Layers</span>
            {% if admin %}
            <div class="btn-group pull-right">
                <a class="btn btn-mini" href="{% url 'layer-create' %}">Add New</a>
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'create-kml-layer' %}">Import KML/KMZ</a></li>
                    <!-- <li><a href="{% url 'layer-import' %}">Import External Layer</a></li> -->
                    <li><a href="{% url 'create-json-layer' %}">Import JSON</a></li>
                </ul>
            </div>
            {% endif %}
	    <br/>
	    <br/>
	    <br/>
	    <div style="vertical-align: middle;">
		    <div style="display: inline-block; position: relative; top: -6px;">Layer category filter: </div>
		    <select id="category_select" name="category_select">
			<option value=""
                                {% if category_select == None %}
                                     selected
                                {% endif %}
                        >All</option>
                        <option value="null" 
                                {% if category_select == 'null' %}
                                     selected
                                {% endif %}
                        >Unknown</option>
			{% for category, name in category_options %}
			    <option value="{{category}}" 
                                {% if category_select == category %}
                                     selected 
                                {% endif %}
                            >{{name}}</option>
			{% endfor %}
		    </select>
		    <input type="button" style="position: relative; top: -6px;" class="btn" type="submit" name="" method="" value="Submit"
                     onclick="window.location='../layers/' + encodeURIComponent($('#category_select').val());" />
	    </div>
        </div>
        <div class="row"><span class="span6"/></div>
        <div>

            {% include "maps/_object_list.html" %}

        </div>

    </div>
{% endblock %}
